# local dark brem libraries
dblib
# local generated data
data
# data files
**.root
**.h5
# sim log files
*.log
# jupyter notebook
.ipynb_checkpoints
__pycache__
scratch.ipynb
# generated directories
build
ldmx-sw/install
# container images
.dbgen-scratch
**.sif
.singularity
# generated images
**.pdf
**.png
