[submodule "sim/sw/Framework"]
	path = sim/sw/Framework
	url = git@github.com:LDMX-Software/Framework.git
[submodule "sim/sw/cmake"]
	path = sim/sw/cmake
	url = git@github.com:LDMX-Software/cmake.git
