# local dark brem libraries for testing
dblib
# local generated gdml for testing
.write_detector.gdml
# data files
**.root
# sim log files
*.log
# jupyter notebook
.ipynb_checkpoints
__pycache__
# generated directories
build
ldmx-sw/install
# container images
**.sif
